/*
--------------------------------------------------------------
COLOUR SCHEMES
--------------------------------------------------------------
*/

:root {
  --colour-background-primary: orange;
  --colour-background-secondary: red;
  --colour-background-tertiary: blue;
  --colour-background-quaternary: green;
  --colour-typography-header: rgba(34 34 68 / 100%);
  --colour-typography-body: rgba(34 34 68 / 90%);
  --colour-typography-footer: CanvasText;
  --colour-card-primary: rgba(255 255 255 / 35%);
  --colour-card-border: rgba(255 255 255 / 20%);
  --colour-card-shadow: rgba(0 0 0 / 25%);
  --colour-image-border: rgba(0 0 0 / 6%);
  --colour-image-hover: rgba(0 0 0 / 10%);
  --colour-flag-border: Canvas;
  --colour-icons-fill: var(--colour-typography-header);
  --colour-icons-hover: red;
  --timing-transition: 0.3s;
  --timing-background: 10s;
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --colour-background-primary: darkorange;
    --colour-background-secondary: darkred;
    --colour-background-tertiary: darkblue;
    --colour-background-quaternary: darkgreen;
    --colour-icons-hover: darkred;
  }
}


/*
--------------------------------------------------------------
CSS ANIMATIONS
--------------------------------------------------------------
*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/*
--------------------------------------------------------------
MAIN
--------------------------------------------------------------
*/

html {
  height: 100%;
  color-scheme: light dark;
}

body {
  overflow: hidden;
  background: Canvas;
	background: linear-gradient(-45deg, var(--colour-background-primary), var(--colour-background-secondary), var(--colour-background-tertiary), var(--colour-background-quaternary));
	background-size: 400% 400%;
  color: var(--colour-typography-body);
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font: normal 1em/1.618 system-ui, ui-sans-serif, sans-serif;
  display: block;
  transform: translate(-50%, -50%);
  text-rendering: optimizelegibility;
}

h1,
.subheading {
  margin: 0;
  color: var(--colour-typography-header);
  text-wrap: balance;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

.subheading {
  font-size: 16px;
  font-weight: lighter;
}

p {
  margin: 0;
  text-wrap: balance;
  font-size: 13px;
}

.profile-card {
  width: 440px;
  height: 280px;
  position: absolute;
  left: 100%;
  top: 100%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border: 1px solid var(--colour-card-border);
  border-radius: 20px;
  background-color: var(--colour-card-primary);
  box-shadow: 0 0 5px 1px var(--colour-card-shadow);
  backdrop-filter: blur(15px);
}

header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px;
  display: inline-block;
  float: left;
  border-right: 2px groove var(--colour-card-border);
  color: var(--colour-typography-header);
  text-align: center;
  margin-top: -20px;
}

header a,
header svg {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px;
}

header a::after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--colour-flag-border);
  background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" width="300" height="300"><rect width="300" height="300" fill="%2300247d"/><path d="M 0,0 L 300,300 M 300,0 L 0,300" stroke="%23fff" stroke-width="60"/><path d="M 0,0 L 300,300 M 300,0 L 0,300" stroke="%23cf142b" stroke-width="40"/><path d="M 150,150 v -30 L 30,0 H 0 z h 30 L 300,30 V 0 z v 30 L 270,300 H 300 z h -30 L 0,270 V 300 z" fill="%23fff"/><path d="M 150,0 V 300 M 0,150 H 300" stroke="%23fff" stroke-width="100"/><path d="M 150,0 V 300 M 0,150 H 300" stroke="%23cf142b" stroke-width="60"/></svg>') no-repeat center center fixed;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 1px 3px var(--colour-card-shadow);
}

header img {
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  transition: box-shadow var(--timing-transition) ease-in;
  box-shadow: 0 0 0 8px var(--colour-image-border);
}

header a:hover img {
  box-shadow: 0 0 0 8px var(--colour-image-hover);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5em;
  transform: translate(50vw, 50vh);
}

footer a {
  color: var(--colour-typography-footer);
  text-decoration: none;
}

footer .float-right a:hover {
  transition: color var(--timing-transition) ease-in;
  color: transparent !important;
}

.float-left {
  float: left;
  padding-left: 0.5em;
}

.float-right {
  float: right;
  padding-right: 0.5em;
}

.profile-bio {
  width: 175px;
  display: inline-block;
  float: right;
  text-align: center;
  margin-bottom: 55px;
  padding: 50px 20px 30px;
  font-variant: small-caps;
}

.profile-social-links {
  width: 218px;
  display: inline-block;
  float: right;
  margin: 0;
  padding: 15px 20px;
  text-align: center;
  box-sizing: border-box;
}

.profile-social-links li {
  list-style: none;
  margin: -5px 0 0;
  padding: 0;
  float: left;
  width: 25%;
  text-align: center;
}

.profile-social-links svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 6px;
  position: relative;
  vertical-align: middle;
  overflow: hidden !important;
  transition: all var(--timing-transition) ease-in;
}

.profile-social-links path {
  color: var(--colour-icons-fill);
}

.profile-social-links svg:hover path {
  color: var(--colour-icons-hover);
}


/*
--------------------------------------------------------------
REACTIVE
--------------------------------------------------------------
*/

@media screen and (height >= 480px) {
  .profile-card {
    height: 440px;
    width: 280px;
  }

  header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }

  .profile-bio {
    width: auto;
    height: auto;
    display: block;
    float: none;
    margin-bottom: 35px;
    margin-top: 10px;
    padding: 0;
  }

  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
}


/*
--------------------------------------------------------------
ACCESSIBILITY
--------------------------------------------------------------
*/

@media not (prefers-reduced-motion) {
  body {
      animation: gradient var(--timing-background) ease infinite;
  }

  header a:hover img {
    box-shadow: 0 0 0 12px var(--colour-image-hover) !important;
  }

  .profile-social-links svg:hover {
    transform: scale(1.25) rotate(-2deg) !important;
    filter: drop-shadow(1px 1px 1px var(--colour-card-shadow)) !important;
	}
}


/*
--------------------------------------------------------------
BROWSER-SPECIFIC
--------------------------------------------------------------
*/

@supports (font: -webkit-font-smoothing) {
	body {
		-webkit-font-smoothing: antialiased !important;
	}
}

/* stylelint-disable */
@supports (font: -apple-system-body) {
	html {
		font: -apple-system-body !important;
	}
}
/* stylelint-enable */

@supports (text-wrap: pretty) {
  p {
    text-wrap: pretty !important;
  }
}