.left {
  float: left;
  padding-left: 0.5em;
}

.right {
  float: right;
  padding-right: 0.5em;
}

img.avatar {
  border-radius: 50%;
}

svg.icon {
  width: 2em;
  height: 2em;
  # vertical-align: -0.125em;
}