:root {
  --light: #1B1918;
  --lesslight: #000;
  --dark: #E6E3DF;
  --moredark: #B8B3AD;
  font-family: system-ui, ui-sans-serif, sans-serif;
}

footer p:first-child {
  padding-left: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  text-decoration: none;
}

footer p:last-child {
  padding-right: 0.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

header img {
  margin-top: 20%;
  border-radius: 50%;
}

li svg {
  fill: var(--moredark);
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

nav ul {
  column-count: 2;
  list-style-type: none;
  padding: 0;
}

nav ul li:nth-child(-n+5) {
  text-align: right;
}

nav ul li:nth-child(n+5) {
  text-align: left;
}

body {
  max-width: 600px;
}

h1 {
  margin-bottom: 0;
  font-weight: normal;
}

h1+p {
  margin-top: 0;
  color: var(--moredark);
}

p {
  font-weight: lighter;
}