.floatBottomLeft {
  padding-left: 0.5em;
  float: left;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 100px) 0 0);
}

.floatBottomRight {
  padding-right: 0.5em;
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 100px) 0 0);
}

img.avatar {
  border-radius: 50%;
}

svg.icon {
  width: 2em;
  height: 2em;
}