:root {
  border-top: none;
  font-family: system-ui, ui-sans-serif, sans-serif;
}

body {
  max-width: 75%;
  text-rendering: optimizelegibility;
  text-wrap: balance;
}

h1 {
  margin-bottom: 0;
  font-weight: normal;
}

header {
  margin-top: 15%;
  margin-bottom: 5%;

  & p {
    margin: 0;
    color: var(--moredark);
    font-weight: lighter;
    font-variant: small-caps;
  }

  & img {
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--lesslight);
  }

  & img:hover {
    box-shadow:
      0 0 2px 1px var(--moredark),
      0 0 4px 1px var(--dark);
    transition: box-shadow 1s ease-out;
  }
}

nav ul {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
  text-align: center;

  & li a {
    text-decoration: none;
  }

  & li a[id^="left"] {
    display: none;
  }

  & li svg {
    fill: var(--moredark);
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
  }
}

a:hover {
  color: var(--moredark);
}

a:hover:not(footer *) {
  text-decoration: underline;
  text-decoration-color: var(--moredark);
  text-shadow: 1px 0 0 var(--moredark);
}

footer {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;

  & a {
    text-decoration: none;
  }

  & p:first-child {
    text-align: left;
  }

  & p:last-child {
    text-align: right;
  }

  &>* {
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
    margin-bottom: auto;
  }
}

@media screen and (height >=400px) {
  body {
    max-width: 600px;
  }
}

@media screen and (width >=420px) {
  nav ul {
    column-count: 2;
    column-gap: 10%;
    font-size: larger;

    & li:nth-child(-n+5) {
      text-align: right;

      & a[id^="left"] {
        display: unset;
      }

      & a[id^="right"] {
        display: none;
      }
    }

    & li:nth-child(n+5) {
      text-align: left;

      & a[id^="left"] {
        display: none;
      }

      & a[id^="right"] {
        display: unset
      }
    }
  }
}

@media only screen and (prefers-color-scheme: dark) {
  p {
    font-weight: lighter;
  }

  nav ul {
    font-size: medium;
  }
}

@supports (font: -webkit-font-smoothing) {
  body {
    -webkit-font-smoothing: antialiased !important;
  }
}

@supports (text-wrap: pretty) {
  body {
    text-wrap: pretty !important;
  }
}