:root {
  border-top: none;
  font-family: system-ui, ui-sans-serif, sans-serif;
}

body {
  max-width: 75%;
}

h1 {
  margin-bottom: 0;
  font-weight: normal;
}

header {
  margin-top: 20%;
}

header p {
  margin: 0;
  color: var(--moredark);
  font-weight: lighter;
  font-variant: small-caps;
}

header img {
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--lesslight);
}

header img:hover {
  box-shadow: 0 0 2px 1px var(--moredark);
  transition: box-shadow 1s;
}

nav ul {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

li svg {
  fill: var(--moredark);
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

li a,
footer a {
  text-decoration: none;
}

a:hover {
  color: var(--moredark);
}

a:hover:not(footer *) {
  text-decoration: underline;
  text-decoration-color: var(--moredark);
  text-shadow: 1px 0 0 var(--moredark);
}

footer {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}

footer>* {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: auto;
}

footer p:first-child {
  text-align: left;
}

footer p:last-child {
  text-align: right;
}


@media screen and (height >=400px) {
  body {
    max-width: 600px;
  }
}

@media screen and (width >=420px) {

  nav ul {
    column-count: 2;
    column-gap: 10%;
    font-size: larger;
  }

  nav ul li:nth-child(-n+5) {
    text-align: right;
  }

  nav ul li:nth-child(n+5) {
    text-align: left;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  p {
    font-weight: lighter;
  }
}