.bottomLeft {
  padding-left: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottomRight {
  padding-right: 0.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

img.avatar {
  border-radius: 50%;
}

svg.icon {
  width: 1em;
  height: 1em;
}

ul.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}