---
name: Lighthouse
permissions: read-all

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  lighthouse-check:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
  
      - name: Lighthouse Checks
        uses: foo-software/lighthouse-check-action@a80267da2e0244b8a2e457a8575fc47590615852
        id: lighthouseCheck
        with:
          urls: 'https://whymark.net/'
          device: all
          prCommentEnabled: false
          prCommentSaveOld: false
          gitHubAccessToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify Lighthouse Check results
        uses: foo-software/lighthouse-check-status-action@a80267da2e0244b8a2e457a8575fc47590615852
        with:
          lighthouseCheckResults: ${{ steps.lighthouseCheck.outputs.lighthouseCheckResults }}
          minAccessibilityScore: "50"
          minBestPracticesScore: "50"
          minPerformanceScore: "50"
          minSeoScore: "50"
