---
name: Lint
on: pull_request
permissions: read-all
jobs:
  linting:
    runs-on: ubuntu-latest
    
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
      
    permissions:
      contents: read
      packages: read
      issues: write
      pull-requests: write
      statuses: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          persist-credentials: false
          
      - name: Reviewing code
        uses: super-linter/super-linter/slim@61abc07d755095a68f4987d1c2c3d1d64408f1f9
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: .neat.css
          IGNORE_GENERATED_FILES: true
          ENABLE_GITHUB_PULL_REQUEST_SUMMARY_COMMENT: false
          VALIDATE_SPELL_CODESPELL: false
          VALIDATE_HTML_PRETTIER: false
          VALIDATE_CSS_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_YAML_PRETTIER: false
