---
name: Lint
on: pull_request
permissions: read-all
jobs:
  linting:
    runs-on: ubuntu-latest
    
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
      
    permissions:
      contents: read
      packages: read
      issues: write
      pull-requests: write
      statuses: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
          
      - name: Reviewing code
        uses: super-linter/super-linter/slim@latest
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: .neat.css
          IGNORE_GENERATED_FILES: true
          VALIDATE_SPELL_CODESPELL: false
          VALIDATE_HTML_PRETTIER: false
          VALIDATE_CSS_PRETTIER: false
